html, body{
    font-family: 'Raleway', sans-serif;
}
.footer {
    margin-top:3rem;
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}

.header{
    background-color: #959595;
    padding: 30px 0 5px 0px;
    .logo{
        display: block;
        max-width: 300px;
        img{
            max-width: 100%;
        }
    }
    .navbar{
        position: relative;
        margin: 0;
        z-index: 999;
        margin-top: 5px;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            position: relative;
            li {
                display:inline-block;
                &:hover > ul {
                    display:inherit;
                }
                a {
                    display: block;
                    padding: 15px;
                    color: #000;
                    font-size: 16px;
                    text-decoration: none;
                    font-weight: 700;
                    &:hover { 
                        color: #fff; 
                    }
                }
            }
            ul {
                display: none;
                position: absolute; 
                background: #959595;
                li {
                    width:230px;
                    float:none;
                    display:list-item;
                    position: relative;
                }
            }
        }
        
    }
}

h1.main_header{
    margin: 30px 0;
}
.team_section{
    display: block;
    margin: 30px 0;
    h3.team_header{
        text-transform: uppercase;
        font-size: 14px;
    }
    .team_gallery{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .member_block{
            position: relative;
            display: block;
            margin: 5px;
            overflow: hidden;
            &:hover > .member_meta{
                color: #fff;
                background-color: rgba(148, 148, 148, 0.7);
            }
            .member_img{
                width: 100%;
            }
            .member_meta{
                position: absolute;
                bottom: 4px;
                left: 0;
                background-color: rgba(148, 148, 148, 0.3);
                display: block;
                width: 100%;
                padding: 10px;
                max-width: 100%;
                color: #959595;
                transition: all 0.3s ease-in-out;
                .title{
                    margin: 0;
                    font-size: 14px;
                }
                .sub{
                    font-size: 12px;
                }
            }
        }
    }
}

.footer{
    background-color: #959595;
    padding: 15px 0;
    .navbar{
        ul{
            position: relative;
            list-style: none;
            padding: 0;
            display: flex;
            vertical-align: top;
            li{
                display: inline-block;
                margin-right: 30px;
                min-width: 100px;
                a{
                    display: block;
                    padding: 10px;
                    font-size: 16px;
                    text-decoration: none;
                    color: #000;
                    font-weight: 700;
                }

                ul{
                    display: block;
                    li{
                        display: block;
                        a{
                            color: #fff;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}
