@media (min-width: 1200px){
    .container {
        width: 1100px;
        max-width: 100%;
    }

    .team_section{
        .team_gallery {
            .member_block{
                width: 23.8%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px){
    .team_section{
        .team_gallery {
            .member_block{
                width: 31.8%;
            }
        }
    }
}


@media (max-width: 768px){
    .container {
        padding: 15px;
    }
}

@media (min-width: 484px) and (max-width: 766px){
    .team_section{
        .team_gallery {
            .member_block{
                width: 47.8%;
            }
        }
    }
}

@media (max-width: 483px){
    .header{
        padding: 0;
        .container{
            padding: 0;
        }
        .logo{
            padding: 15px;
            padding-bottom: 0;
            max-width: 100%;
        }
        .navbar{
            margin-top: 0;
            text-align: center;
            ul{
                ul{
                    border-top: 1px solid #ccc;
                    width: 100%;
                    left: 0;
                    li{
                        width: 100%;
                    }
                }
            }
        }
    }
    .team_section{
        .team_gallery {
            .member_block{
                width: 100%;
            }
        }
    }
    .footer{
        margin-top: 0;
        .navbar{
            ul{
                display: block;
                text-align: center;
                margin: 0;
                li{
                    min-width: 100%;
                    margin: 0;
                }
            }
        }
    }
}