<footer class="footer">
    <div class="container">
        <nav class="nav-block">
            <a href="#" class="header">About</a>
            <ul class="nav-ul">
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Leadership</a>
                </li>
            </ul>
        </nav>
        <nav class="nav-block">
            <a href="#" class="header">Products</a>
            <ul class="nav-ul">
                <li class="nav-item">
                    <a class="nav-link" href="#">Pro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Starter</a>
                </li>
            </ul>
        </nav>
        <nav class="nav-block">
            <a href="#" class="header">Blog</a>
        </nav>
    </div>
</footer>

<script src="js/all.js"></script>
</body>
</html>
