<div class="footer">
    <div class="container">
        <!-- Footer Menu -->
        <div class="navbar">
            <ul>
                <li><a href="#">About</a>
                    <ul>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Leadership</a></li>
                    </ul>        
                </li>
                <li><a href="#">Products</a>
                    <ul>
                        <li><a href="#">Pro</a></li>
                        <li><a href="#">Starter</a></li>
                    </ul>        
                </li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="js/all.js"></script>
</body>
</html>
