<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/favicon.png" />
    <title>The Cool Practicum Company</title>
  </head>
<body>
<header class="grey_bg">
    <div class="container">
        <!-- Company Logo -->
        <a class="logo" href="#">
            <img src="./img/logo.png" alt="The Cool Practicum Company">
        </a>
        
        <!-- Header Menu -->
        <nav class="navbar">
            <ul>
                <li><a href="#">About</a>
                    <ul>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Leadership</a></li>
                    </ul>        
                </li>
                <li><a href="#">Products</a>
                    <ul>
                        <li><a href="#">Pro</a></li>
                        <li><a href="#">Starter</a></li>
                    </ul>        
                </li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>